body {

	width:100%;		
	background-color: white;
	margin:0px;
	padding:0px;
}

#main_header {

	color:white;
	background-color: #009999;
	width:100%;
	height:10vh;
	text-align: center;
	box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
	position:fixed;	
	float:right;
	flex:1;	
	display:inline-flex;
	/*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}

#main_header_title {

	color:#FFFFFF;	
	width:70%;	
	text-align: left;
	padding:20px;
	margin:0px;
	font-size:145%;	
	clear:none;

}

#plus_div {

	width:15%;
	height:50%;
	background-color:#009999;
	float:right;
	margin: auto;
	text-align: center;	

}

#recent_chats {

	width:18%;
	height:100vh;
	background-color: #f2f2f2;	
	box-shadow: 2px/*right property*/ 4px /*bottom property*/ 3px /*elevation property*/ 0px/*shadow density property*/ rgba(0,0,0,0.2);
	/*box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/	
}

/** menu list style **/

.menu_list {

	width:100%;
	height:100%;
	margin: 0 auto;
}

ul, ol {
	list-style: none;3
}

li {

	list-style-type: none;
	height: 40px;
	display: block;

}

.menu_list li:hover {
	background-color: #009999;	
	color: white;
}

/** keeps hidden list elements **/

li ul{
	display: none;
}

/** shows list elements when hover **/

li:hover > ul {
	display:block;
}

.menu_list_class {

	width: 100%;
	height:100%;
	margin:0 auto;

}

.list_title {
	font-size: 160%;
}

.list_item {
	
	padding-left: 18%;
	background-color: #f2f2f2;
	font-family:  arial;
	font-size: 65%;
	padding-top:10%;

}

#list_elements {

	box-shadow: 2px 4px 3px 0px rgba(0,0,0,0.2);
	color:#8c8c8c;
	text-align: left;

}



